@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#051424] text-slate-100 font-sans;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0A142F;
}

::-webkit-scrollbar-thumb {
  background: #273647;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FAA61A;
}

/* Custom Glassmorphism */
.glass-panel {
  background: rgba(28, 43, 60, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
